form {
    .input {
        margin-bottom:16px;

        .error-empty-message, .error-invalid-message {
            display:none;
            color:$brightBlue;
            font-size:11px;
        }
    }

    textarea {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
    }

    input, label, textarea {
        display:block;
        width:100%;
        box-sizing: border-box;
    }

    input, textarea {
        font-size:14px;
        color:$brightBlue;
        border:1px solid $brightBlue;
        background:$primaryColor;
        padding: 10px;
        &:focus {
            outline:none;
        }
    }

    #website {
        display:none;
    }

    button[type="submit"] {
        background:$primaryColor;
        color:#FFFFFF;
        border:none;
        cursor:pointer;
        font-family:$headerFont;
        font-weight:$headerFontWeight;
        letter-spacing:1px;
        font-size:20px;
        padding:8px 32px;
        @include transition(0.2s);
        float:right;

        &:hover, &:focus {
            color:$brightBlue;
        }

        &:disabled {
            background:$primaryColor !important;
            color:$secondaryColor !important;
            cursor:not-allowed;
        }

        &:focus {
            outline:none;
        }

        @media (max-width:$screen-sm) {
            display:block;
            width:100%;
        }
    }

    .error-empty, .error-invalid {
        input, textarea {
            border:1px solid $lightBlue;
        }
    }

    .error-empty {
        .error-empty-message {
            display: block;
        }
    }

    .error-invalid {
        .error-invalid-message {
            display:block;
        }
    }
}

::placeholder {
    color: $secondaryColor;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $secondaryColor;
}

::-ms-input-placeholder {
    color: $secondaryColor;
}
