nav, .nav {
    position:fixed;
    width:100%;
    top:-100%;
    left:0;
    background:$primaryColor;
    z-index:2;
    @include transition(0.3s);

    &.active {
        top:0%;
        @include transition(0.3s);
    }

    ul {
        width:50%;
        margin:0 auto;
        padding:($spacing / 2) 0;
        @include clearfix();
        li {
            list-style-type: none;
            text-align:center;

            a {
                border-bottom:none;
                position:relative;

                &:after {
                    content: "";
                    height:1px;
                    width:0;
                    background:#FFFFFF;
                    position:absolute;
                    left:-12.5%;
                    top:49%;
                    @include transition(0.2s);
                }

                &:hover, &:focus {
                    &:after {
                        width:125%;
                    }
                }
            }
        }

        @media(min-width:$screen-sm) {
            li {
                float:left;
            }

            @for $i from 1 through 4 {
                li:first-child:nth-last-child(#{$i}),
                li:first-child:nth-last-child(#{$i}) ~ li {
                    width: #{100%/$i}; } }
        }

    }
}

.hamburger {
    position:absolute;
    right:9px;
    top:2px;

    &:focus {
        outline:none;
    }
}
