#toast-container {
    > div {
        @include box-shadow(none);
        padding:($spacing / 2) $spacing;
        width:450px;
    }

    > .toast-success {
        background-image:none !important;
    }
}

button.toast-close-button {
    position:absolute;
    right:10px;
    top:5px;
}