.aboutSection {
    .avatar {
        img {
            width:100%;
            max-width:200px;
            @media(min-width:1140px) {
                max-width:250px;
            }
        }

        @media(max-width:$screen-md) {
            text-align:center;
        }
    }

    @media(min-width:$screen-md) {
        .avatar {
            width:25%;
            float:left;
        }

        .copy {
            width:75%;
            float:left;
        }
    }
}
