.aboutSection {
    @media(min-width:$screen-md) {
        .wrapper {
            @include clearfix();
        }
        .avatar {
            width:25%;
            float:left;
        }

        .copy {
            width:75%;
            float:left;
        }
    }
}