.contactSection {
    margin-bottom:150px;

    .left-column {
        margin-bottom:$spacing;
    }

    @media(min-width:$screen-md) {
        div[class*='-column'] {
            float:left;
        }

        .left-column {
            width:40%;
        }

        .right-column {
            width:60%;
        }
    }
}