header, .header {
    padding-top:$spacing * 2;
    @media (min-width: $screen-sm) {
        padding-top:350px;
    }

    p {
        margin-top:0;
    }

    .available-flag {
        margin-top:$spacing;
    }
}