.row {
    position:relative;
}

#aboutSection {
    margin-top:20px;
    min-height:400px;
}

#factSection {
    margin-top:300px;
    min-height:300px;
}

#socialMediaSection {
    margin-top:150px;
    min-height:300px;
}

#contactSection {
    margin-top:600px;
}