.skillsSection {
    .socialMedia {
        a {
            border-bottom:none;
            margin-right:30px;
        }

        img {
            max-width:75px;
        }
    }

    .graph svg {
        stroke-linecap: round;
    }

    .skills-wrapper {
        margin-top:$spacing;
        margin-bottom:$spacing * 3;
        @include clearfix();
    }
    .skillset {
        text-align:center;
        
        @media(min-width:$screen-sm) {
            float:left;
            width:45%;
        }
        
        @media(min-width:$screen-md) {
            width:15.4%;
        }

        &:not(:first-child) {
            padding-left:8px;
        }

        &:not(:last-child) {
            padding-right:8px;
        }

        img {
            max-width:100%;
        }
    }
}
