body {
    margin:0;
}

#particles-js {
    position:fixed;
    width:100%;
    height:100%;
    z-index:-1;
}

#main {
    z-index:1;
    
    @media (max-width: $screen-md) {
        padding-left:35px;
        padding-right:35px;
    }
}