
#quit-game {
    position:absolute;
    top:-24px;
    right:0;
    color:#FFFFFF;
    cursor:pointer;
    margin:0;
}

#game {
    overflow: hidden;
    display:none;

    @media(min-width:900px) {
        display:block;
    }
}

.small-browser {
    display:block;
    text-align:right;
    font-size:25px;
    color:#FFFFFF;

    @media (min-width:900px) {
        display:none;
    }
}
