.insta-feed {
    margin-top: 100px;

    .insta-img {
        width:100%;
        height:150px;
        margin-bottom:$spacing / 2;
        background-repeat:no-repeat!important;
        background-size:cover !important;
        @include filter(grayscale(100%));
        @include transition(0.4s);

        &:hover, &:focus {
            @include filter(grayscale(0%));
        }
    }
}