// Font Variables
$headerFont:       'News Cycle', sans-serif;
$bodyFont:         'Heebo', sans-serif;
$headerFontWeight: 700;
$bodyFontWeight:   100;

// Colours
$primaryColor:   #1A1D34;
$secondaryColor: #9397B8;

// Sizes
$spacing:        30px;
$screen-md:      992px;
$screen-sm:      768px;
$border-radius-large: 8px;