html {
	font-size: 16pt;

	@include breakpoint(xlarge) {
		font-size: 12pt;
	}

	@include breakpoint(small) {
		font-size: 11pt;
	}

	@include breakpoint(xxsmall) {
		font-size: 10pt;
	}
}

body {
	color: $textColor;
	font-family: $fontFamily;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.65;
}

a {
	@include vendor('transition', 'background-color #{$transitionDuration} ease-in-out');
	text-decoration: none;
	color: inherit;
}

strong, b {
	color: $textColor;
	font-weight: 600;
}

em, i {
	font-style: italic;
}

p {
	margin: 0 0 $elementMargin 0;
}

h1, h2, h3, h4, h5, h6 {
	color: $textColor;
	font-weight: 600;
	line-height: 1.5;
	margin: 0 0 ($elementMargin * 0.25) 0;
	text-transform: uppercase;
	letter-spacing: $letterSpacing;

	a {
		color: inherit;
		text-decoration: none;
	}

	&.major {
		border-bottom: solid $borderWidth $textColor;
		width: -moz-max-content;
		width: -webkit-max-content;
		width: -ms-max-content;
		width: max-content;
		padding-bottom: 0.5em;
		margin: 0 0 ($elementMargin * 1) 0;
	}
}

h1 {
	font-size: 2.25em;
	line-height: 1.3;
	letter-spacing: $letterSpacingHeading;
}

h2 {
	font-size: 1.5em;
	line-height: 1.4;
	letter-spacing: $letterSpacingHeading;
}

h3 {
	font-size: 1rem;
}

h4 {
	font-size: 0.8em;
}

h5 {
	font-size: 0.7em;
}

h6 {
	font-size: 0.6em;
}

@include breakpoint(small) {
	h1 {
		font-size: 1.75em;
		line-height: 1.4;
	}

	h2 {
		font-size: 1.25em;
		line-height: 1.5;
	}
}