/***********************
* CSS3 Mixins
*************************/
@import "compass/css3";

/***********************
* Node Modules
*************************/
@import "../../../node_modules/toastr/toastr.scss";

@import "abstracts/**/*.scss";
@import "mixins/**/*.scss";
@import "base/**/*.scss";
@import "layout/**/*.scss";

::selection {
  background: $secondaryColor;
  color:#ffffff;
}
::-moz-selection {
  background: $secondaryColor;
  color:#ffffff;
}