/***********************
* CSS3 Mixins
*************************/
@import "compass/css3";

/***********************
* Node Modules
*************************/
@import "../../../node_modules/toastr/toastr.scss";

$hamburgers-padding-x: 8px;
$hamburgers-padding-y: 8px;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 2px;
$hamburger-layer-color: #FFF;
@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers";

@import "abstracts/**/*.scss";
@import "mixins/**/*.scss";
@import "base/**/*.scss";
@import "layout/**/*.scss";

::selection {
  background: $secondaryColor;
  color:#ffffff;
}
::-moz-selection {
  background: $secondaryColor;
  color:#ffffff;
}
