$transitionDuration: 0.2s;
$bgDuration: 2.5s;
$introDuration: 0.75s;
$articleDuration: 0.325s;

$borderWidth: 1px;
$elementMargin: 3em;

$fontFamily: 'Source Sans Pro', sans-serif;
$letterSpacing: 0.25em;
$letterSpacingHeading: 0.25em;

$articleBgColor: #1b1f22;
$bgAltColor: #000000;
$textColor: #ffffff;
