#bg {
	@include vendor('transform', 'scale(1.0)');
	-webkit-backface-visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1;

	.after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.after {
		@include vendor('transform', 'scale(1.125)');
		@include vendor('transition', (
			'transform #{$articleDuration} ease-in-out',
			'filter #{$articleDuration} ease-in-out'
		));
		background-position:	center;
		background-size:		cover;
		background-repeat:		no-repeat;
		z-index: 1;
	}

	body.is-article-visible & {
		.after {
			@include vendor('transform', 'scale(1.0825)');
			@include vendor('filter', 'blur(0.2rem)');
		}
	}
}