#header {
	@include vendor('display', 'flex');
	@include vendor('flex-direction', 'column');
	@include vendor('align-items', 'center');
	@include vendor('transition', (
		'transform #{$articleDuration} ease-in-out',
		'filter #{$articleDuration} ease-in-out',
		'opacity #{$articleDuration} ease-in-out',
	));
	background-image: -moz-radial-gradient(rgba(0,0,0,0.25) 25%, rgba(0,0,0,0) 55%);
	background-image: -webkit-radial-gradient(rgba(0,0,0,0.25) 25%, rgba(0,0,0,0) 55%);
	background-image: -ms-radial-gradient(rgba(0,0,0,0.25) 25%, rgba(0,0,0,0) 55%);
	background-image: radial-gradient(rgba(0,0,0,0.25) 25%, rgba(0,0,0,0) 55%);
	max-width: 100%;
	text-align: center;

	> * {
		@include vendor('transition', 'opacity #{$articleDuration} ease-in-out');
		position: relative;
		margin-top: 3.5em;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: calc(-3.5em - 1px);
			left: calc(50% - #{$borderWidth * 1});
			width: $borderWidth;
			height: calc(3.5em + 1px);
			background: $textColor;
		}
	}

	> :first-child {
		margin-top: 0;

		&:before {
			display: none;
		}
	}

	.content {
		border-style: solid;
		border-color: $textColor;
		border-top-width: $borderWidth;
		border-bottom-width: $borderWidth;
		max-width: 100%;

		.inner {
			@include vendor('transition', (
				'max-height #{$introDuration} ease',
				'padding #{$introDuration} ease',
				'opacity #{$articleDuration} ease-in-out'
			));
			@include vendor('transition-delay', '0.25s');
			padding: 3em 2em;
			max-height: 40em;
			overflow: hidden;

			> :last-child {
				margin-bottom: 0;
			}
		}

		p {
			text-transform: uppercase;
			letter-spacing: $letterSpacing;
			font-size: 0.8em;
			line-height: 2;
		}
	}

	body.is-article-visible & {
		@include vendor('transform', 'scale(0.95)');
        @include vendor('filter', 'blur(0.1rem)');
		@include vendor('opacity', '0');
	}

	body.is-loading & {
		> * {
            @include vendor('opacity', '0');
		}

		@include vendor('filter', 'blur(0.125rem)');

		.content {
			.inner {
				max-height: 0;
				padding-top: 0;
				padding-bottom: 0;
                @include vendor('opacity', '0');
			}
		}
	}

	@include breakpoint(medium) {
		.content {
			p {
				br {
					display: none;
				}
			}
		}
	}

	@include breakpoint(small) {
		> * {
			margin-top: 2em;

			&:before {
				top: calc(-2em - 1px);
				height: calc(2em + 1px);
			}
		}

		.content {
			.inner {
				padding: 2.5em 1em;
			}

			p {
				line-height: 1.875;
			}
		}
	}

	@include breakpoint(xsmall) {
		padding: 1.5em 0;

		.content {
			.inner {
				padding: 2.5em 0;
			}
		}
	}
}