header, .header {
    padding:200px 0;
    min-height:100vh;

    @media(min-width:$screen-sm) {
        padding:0;
    }

    h1 {
        padding-top:$spacing * 2;
        color:#FFFFFF;

        @media (min-width: $screen-sm) {
            padding-top:350px;
        }
    }

    p {
        margin-top:0;
    }

    .available-flag {
        margin-top:$spacing;
        display:inline-block;
    }

    .scroll-down-img {
        display:block;
        margin-top:$spacing;
    }
}